@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark, valentine;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
